<div class="pt-5 vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-center mt-3">
                <div class="mb-2">
                  <a href="javascript:void(0);" class="">
                    <img src="assets/images/logo.png" alt="" height="45" class="auth-logo logo-dark mx-auto">
                    <img src="assets/images/logo_bg.png" alt="" height="80" class="auth-logo logo-light mx-auto">
                  </a>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>© {{currentYear}} Hotel Booking System. Made By <a href="https://www.aviyandahal.com.np" target="_blank">A</a>
          </p>
        </div>

      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>
